* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    width: 100vw;
    font-size: 2.4vw;
    font-family: 'Inter', sans-serif;
    background-image: url("./images/pattern-curve.svg");
    background-position: bottom left;
    background-repeat: no-repeat;
}

.container {
    width: 95%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-weight: 300;
    color: hsl(240, 38%, 20%);
    background-image: url("./images/pattern-bg.svg");
    background-position: center right;
    background-repeat: no-repeat;
    position: relative;
}

#card {
    width: 80%;
    height: 65%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
    background-image: url("./images/pattern-quotes.svg");
    background-position: top 65px left 95px;
    background-repeat: no-repeat;
}

.testimonial {
    z-index: 1;
    position: relative;
    line-height: 1.4em;
    word-wrap: break-word;
    width: 58%;
    font-size: 1em;
}

.legend {
    margin-top: 20px;
    font-size: 0.6em;
}

.name {
    font-weight: 700;

}

.profission {
    color: hsl(240, 18%, 77%);

}

.photo {
    width: 50%;
    height: 100%;
    position: absolute;
    left: 53%;
    z-index: 0;
    border-radius: 10px;
    box-shadow: 15px 15px 25px rgba(0, 0, 0, 20%);
}

.controller {
    border-radius: 30px;
    display: inline-block;
    width: 12%;
    background-color: white;
    box-shadow: 15px 15px 25px rgba(0, 0, 0, 25%);
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: absolute;
    left: 53%;
    top: 79%;
}

button {
    text-decoration: none;
    background-color: transparent;
    border: none;
    padding: 15px 0;
    cursor: pointer;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.fadeIn {
    animation: fadeIn 0.5s ease-in-out infinite;
}

@media(min-width: 360px) and (max-width: 768px) {
    .container {
        background-position: top 7em center;
        background-size: 37em;
    }

    #card {
        background-position: bottom 26em center;
        background-size: 25%;
        height: 90vh;
        width: 100%;
        justify-content: space-around;
    }


    .photo {
        position: static;
        height: 35%;
        width: 100%;
    }

    .testimonial {
        position: static;
        width: 100%;
        text-align: center;
        font-size: 2em;
    }

    .legend {
        text-align: center;
        font-size: 1.7em;
    }

    .controller {
        left: 38%;
        top: 40%;
        width: 20%;
    }

    #card {
        width: 80%;
    }

    .name {
        display: block;
        margin-bottom: 5px;
        font-weight: 700;
    }

    body{
        background-size: 80%;
    }
}

@media(max-height: 739px){
    .container{
        background-position: top 5em center;
        background-size: 35em 30em;
    }

    #card{
        background-size: 20%;
    }
}

@media(min-width: 768px) and (max-width: 799px){
    #card{
        background-size: 18%;
        background-position: center top 58%;
    }
    
    
    .photo{
        height: 40%;
        width: 70%;
        align-self: center;
    }

    .controller{
        top: 42%;
    }

    .container{
        background-size: 65%;
        background-position: top 10% center;
    }

    .testimonial{
        font-size: 1.8em;
    }

    .legend{
        font-size: 1.3em;
    }

    .name{
        font-weight: 700;
    }

    body{
        background-size: 60%;
    }
}